@use "src/assets/styles/variables" as v;

.login {
  &__container {
    width: 50%;
    height: 50%;
    display: grid;
    place-items: center;
    background: v.$first-color-light;
    border-radius: 1rem;
  }
}