/* VARIABLES */
// fonts
$primary-font: 'Rubik', sans-serif;

// colors
$light-color: #e5fafc;
$first-color-alt: #9cbfac;
$first-color-light: #719D99;
$first-color: #45767c;
$first-color-dark: #29445d;
$second-color-light: #a0c0d6;
$second-color: #425a7d;
$alert-color: #df7356;
$dark-color: #2a3240;

// margin & padding & gap