/* VARIABLES */
// fonts
$primary-font: 'Rubik', sans-serif;

// colors
$light-color: #f1f1f1;
$first-color-light: #bbc5c6;
$first-color: #576f72;
$first-color-dark: #3c4d4f;
$second-color-light: #b8abb7;
$second-color: #72576f;
$alert-color: #A86464;
$dark-color: #2b3739;

// margin & padding & gap